<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Odyssey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Odyssey.Properties.Settings>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pathRPCS3" serializeAs="String">
                <value />
            </setting>
            <setting name="pathXenia" serializeAs="String">
                <value />
            </setting>
            <setting name="pathPPSSPP" serializeAs="String">
                <value />
            </setting>
            <setting name="pathGameFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="pathPCSX2" serializeAs="String">
                <value />
            </setting>
        </Odyssey.Properties.Settings>
    </userSettings>
</configuration>